In [1]:
# To ignore warnings
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import math
import dtale
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

%matplotlib inline

In [2]:
df = pd.read_csv('final_data.csv')

In [3]:
dtale.show(df, open_browser=True)

In [4]:
df.shape

(10754, 22)

In [5]:
df.head(2)

,player,team,name,position,height,age,appearance,goals,assists,yellow cards,...,goals conceded,clean sheets,minutes played,days_injured,games_injured,award,current_value,highest_value,position_encoded,winger
0,/david-de-gea/profil/spieler/59377,Manchester United,David de Gea,Goalkeeper,189.0,32.0,104,0.0,0.0,0.009585,...,1.217252,0.335463,9390,42,5,13,15000000,70000000,1,0
1,/jack-butland/profil/spieler/128899,Manchester United,Jack Butland,Goalkeeper,196.0,30.0,15,0.0,0.0,0.069018,...,1.242331,0.207055,1304,510,58,1,1500000,22000000,1,0

In [6]:
# uniqeness
df.duplicated().sum()

0

In [7]:
# Completeness
df.isnull().sum()

player                 0
team                   0
name                   0
position               0
height                 0
age                    0
appearance             0
goals                  0
assists                0
yellow cards           0
second yellow cards    0
red cards              0
goals conceded         0
clean sheets           0
minutes played         0
days_injured           0
games_injured          0
award                  0
current_value          0
highest_value          0
position_encoded       0
winger                 0
dtype: int64

In [8]:
# Accurecy types
df.dtypes

player                  object
team                    object
name                    object
position                object
height                 float64
age                    float64
appearance               int64
goals                  float64
assists                float64
yellow cards           float64
second yellow cards    float64
red cards              float64
goals conceded         float64
clean sheets           float64
minutes played           int64
days_injured             int64
games_injured            int64
award                    int64
current_value            int64
highest_value            int64
position_encoded         int64
winger                   int64
dtype: object

In [9]:
# drop column player we dont need it 
# drop column position becuse we have position_encoded
df.drop('player',axis=1,inplace = True) 
df.drop('position',axis=1,inplace = True)
df.drop('name',axis=1,inplace= True) 
df.dtypes

team                    object
height                 float64
age                    float64
appearance               int64
goals                  float64
assists                float64
yellow cards           float64
second yellow cards    float64
red cards              float64
goals conceded         float64
clean sheets           float64
minutes played           int64
days_injured             int64
games_injured            int64
award                    int64
current_value            int64
highest_value            int64
position_encoded         int64
winger                   int64
dtype: object

In [10]:
# Accurecy - Outlier

# Convert categorical variables using OneHotEncoding
# position is alrady encoded

categorical_features = ['team']
numeric_features = ['height', 'age', 'appearance','goals', 'assists', 'yellow cards', 'second yellow cards', 'red cards',
       'goals conceded', 'clean sheets', 'minutes played', 'days_injured',
       'games_injured', 'award', 'current_value', 'highest_value',
       'position_encoded', 'winger']

In [11]:
for i in categorical_features:
    print (df[i].value_counts())

team
Daejeon Hana Citizen      46
Jeonbuk Hyundai Motors    46
FC Seoul                  45
Gangwon FC                43
Daegu FC                  42
                          ..
FC Barcelona              22
AtlÃ©tico de Madrid        22
CA Osasuna                22
Hatayspor                 12
Gaziantep FK               6
Name: count, Length: 374, dtype: int64

In [12]:
for i in numeric_features:
    print(df[i].value_counts())

height
180.000000    744
185.000000    608
175.000000    596
178.000000    594
183.000000    572
188.000000    493
184.000000    458
182.000000    449
181.240353    440
186.000000    423
187.000000    419
176.000000    390
177.000000    372
190.000000    371
173.000000    366
179.000000    359
181.000000    355
170.000000    312
191.000000    272
174.000000    270
189.000000    255
172.000000    254
192.000000    203
193.000000    181
171.000000    169
168.000000    124
194.000000    117
169.000000    107
195.000000     98
167.000000     85
196.000000     68
166.000000     44
165.000000     42
197.000000     31
198.000000     24
163.000000     16
160.000000     15
164.000000     14
199.000000     12
200.000000     12
202.000000      6
162.000000      6
161.000000      3
206.000000      2
204.000000      1
156.000000      1
159.000000      1
Name: count, dtype: int64
age
22.000000    841
23.000000    823
26.000000    812
25.000000    772
24.000000    767
21.000000    715
28.000000    678
27.000000    666
29.000000    650
30.000000    617
20.000000    601
31.000000    484
32.000000    428
19.000000    411
33.000000    383
34.000000    257
18.000000    224
35.000000    177
36.000000    149
37.000000     90
17.000000     80
38.000000     36
39.000000     20
40.000000     19
16.000000     19
26.041903     15
42.000000      7
41.000000      6
15.000000      6
43.000000      1
Name: count, dtype: int64
appearance
0      389
1      333
4      225
17     221
10     216
      ...
98       3
107      3
106      2
104      2
103      1
Name: count, Length: 108, dtype: int64
goals
0.000000    4354
1.000000      10
0.324910       8
0.400000       6
0.230769       6
            ...
0.195652       1
0.334650       1
0.633927       1
0.806801       1
0.312139       1
Name: count, Length: 5329, dtype: int64
assists
0.000000    4539
0.100784       6
1.000000       6
0.174081       6
0.111111       6
            ...
0.147589       1
0.176384       1
0.188186       1
0.015915       1
0.208333       1
Name: count, Length: 5065, dtype: int64
yellow cards
0.000000    2213
0.142857      16
0.333333      16
0.250000      15
0.125000      14
            ...
0.029202       1
0.239203       1
0.154004       1
0.116167       1
0.221402       1
Name: count, Length: 6291, dtype: int64
second yellow cards
0.000000    9585
0.025035       3
0.021464       3
0.021388       3
0.036364       3
            ...
0.019007       1
0.016657       1
0.065934       1
0.024045       1
0.057878       1
Name: count, Length: 1095, dtype: int64
red cards
0.000000    9423
0.039233       3
0.018572       3
0.018821       3
0.019811       3
            ...
0.030685       1
0.016184       1
0.038643       1
0.017678       1
0.104046       1
Name: count, Length: 1219, dtype: int64
goals conceded
0.000000    9739
1.000000      36
2.000000      27
1.500000      20
1.333333      12
            ...
1.722222       1
2.052632       1
1.493776       1
1.187755       1
1.431373       1
Name: count, Length: 742, dtype: int64
clean sheets
0.000000     9800
0.500000       33
0.333333       23
0.250000       19
1.000000       16
             ...
0.410865        1
0.203046        1
10.588235       1
0.065598        1
0.254902        1
Name: count, Length: 635, dtype: int64
minutes played
0       405
90       98
180      41
1530     39
450      37
       ...
1718      1
8411      1
6621      1
6369      1
820       1
Name: count, Length: 5036, dtype: int64
days_injured
0       4117
14        72
7         51
10        51
21        44
        ...
622        1
522        1
525        1
637        1
1307       1
Name: count, Length: 772, dtype: int64
games_injured
0      4227
2       277
4       252
3       250
1       247
       ...
201       1
136       1
169       1
168       1
146       1
Name: count, Length: 154, dtype: int64
award
0     4773
1     2211
2     1223
3      730
4      460
5      323
6      216
7      199
8      121
9      110
10      72
11      61
13      42
12      35
14      35
15      21
17      16
18      16
16      13
19      11
20      11
33       6
22       6
21       4
25       4
24       4
26       4
23       3
35       2
36       2
29       2
27       2
32       2
37       2
31       1
42       1
28       1
92       1
34       1
30       1
57       1
65       1
53       1
38       1
43       1
90       1
Name: count, dtype: int64
current_value
1000000      473
300000       456
500000       441
50000        422
1500000      412
            ...
23000000       1
180000000      1
925000         1
5800000        1
150000000      1
Name: count, Length: 128, dtype: int64
highest_value
1000000      470
1500000      417
2000000      411
50000        362
3000000      351
            ...
200000000      1
130000000      1
48000000       1
170000000      1
36500000       1
Name: count, Length: 156, dtype: int64
position_encoded
2    3528
3    3095
4    2902
1    1229
Name: count, dtype: int64
winger
0    7447
1    3307
Name: count, dtype: int64

In [13]:
df = df[df['age']<40]
df = df[df["appearance"]<100]
df = df[df["goals"]>0.5]
df = df[df['award']<5]
df = df[df["days_injured"]<407]
df = df[df['games_injured']<60]
df = df[df["minutes played"]<8000]

In [14]:
df.head(2)

,team,height,age,appearance,goals,assists,yellow cards,second yellow cards,red cards,goals conceded,clean sheets,minutes played,days_injured,games_injured,award,current_value,highest_value,position_encoded,winger
26,Manchester United,180.0,18.0,72,0.525730,0.300417,0.225313,0.025035,0.0,0.0,0.0,3595,50,11,2,25000000,25000000,4,1
161,Southampton FC,183.0,20.0,58,0.542714,0.226131,0.180905,0.000000,0.0,0.0,0.0,1990,0,0,0,12000000,12000000,4,0

In [15]:
# one hot coding
df = pd.get_dummies(df, columns=categorical_features)

In [16]:
print(df.columns.tolist())

['height', 'age', 'appearance', 'goals', 'assists', 'yellow cards', 'second yellow cards', 'red cards', 'goals conceded', 'clean sheets', 'minutes played', 'days_injured', 'games_injured', 'award', 'current_value', 'highest_value', 'position_encoded', 'winger', 'team_1.FC KÃ¶ln', 'team_1.FC Union Berlin', 'team_1.FSV Mainz 05', 'team_AA Argentinos Juniors', 'team_AC Ajaccio', 'team_ACF Fiorentina', 'team_AJ Auxerre', 'team_AS Monaco', 'team_AZ Alkmaar', 'team_Adana Demirspor', 'team_Adelaide United', 'team_Ajax Amsterdam', 'team_Akhmat Grozny', 'team_Al-Adalah FC', 'team_Al-Fateh SC', 'team_Al-Hilal Saudi FC', 'team_Al-Ittihad Club (Jeddah)', 'team_Al-Nassr FC', 'team_Al-Raed SFC', 'team_Al-Shabab Club (Riyadh)', 'team_Al-Taawoun FC', 'team_Al-Tai', 'team_Al-Wehda FC', 'team_Alanyaspor', 'team_Albirex Niigata', 'team_Angers SCO', 'team_Antalyaspor', 'team_Arsenal FC', 'team_Atalanta BC', 'team_Atlanta United FC', 'team_AtlÃ©tico de San Luis', 'team_Austin FC', 'team_Avispa Fukuoka', 'team_Basaksehir FK', 'team_Bayern Munich', 'team_Besiktas JK', 'team_Blackburn Rovers', 'team_Bologna FC 1909', 'team_Borussia Dortmund', 'team_Botafogo de Futebol e Regatas', 'team_Brighton &amp; Hove Albion', 'team_Brisbane Roar', 'team_CA Banfield', 'team_CA Barracas Central', 'team_CA HuracÃ¡n', "team_CA Newell's Old Boys", 'team_CA River Plate', 'team_CA Rosario Central', 'team_CD Godoy Cruz Antonio Tomba', 'team_CF AmÃ©rica', 'team_CF MontrÃ©al', 'team_CF Pachuca', 'team_CR Flamengo', 'team_CSKA Moscow', 'team_Casa Pia AC', 'team_Cerezo Osaka', 'team_Charlotte FC', 'team_Chicago Fire FC', 'team_Chippa United', 'team_Club Athletico Paranaense', 'team_Club AtlÃ©tico Belgrano', 'team_Club AtlÃ©tico LanÃºs', 'team_Club AtlÃ©tico Talleres', 'team_Club AtlÃ©tico Tigre', 'team_Club AtlÃ©tico UniÃ³n', 'team_Club Estudiantes de La Plata', 'team_Club de Gimnasia y Esgrima La Plata', 'team_Clube AtlÃ©tico Mineiro', 'team_Clube de Regatas Vasco da Gama', 'team_Colorado Rapids', 'team_Columbus Crew', 'team_Daegu FC', 'team_Daejeon Hana Citizen', 'team_Dynamo Moscow', 'team_Eintracht Frankfurt', 'team_Esporte Clube Bahia', 'team_FC Augsburg', 'team_FC Cincinnati', 'team_FC Dallas', 'team_FC FamalicÃ£o', 'team_FC Groningen', 'team_FC JuÃ¡rez', 'team_FC Lorient', 'team_FC Nantes', 'team_FC Porto', 'team_FC Schalke 04', 'team_FC Seoul', 'team_FC Tokyo', 'team_FC Toulouse', 'team_FC Utrecht', 'team_FC Vizela', 'team_FK Khimki', 'team_FK Krasnodar', 'team_FK Orenburg', 'team_FK Rostov', 'team_Fakel Voronezh', 'team_Fatih KaragÃ¼mrÃ¼k', 'team_Fenerbahce', 'team_Feyenoord Rotterdam', 'team_Fluminense Football Club', 'team_Fortaleza Esporte Clube', 'team_GD Chaves', 'team_GD Estoril Praia', 'team_Gangwon FC', 'team_Gaziantep FK', 'team_Gil Vicente FC', 'team_Girona FC', 'team_Go Ahead Eagles', 'team_GoiÃ¡s Esporte Clube', 'team_GrÃªmio Foot-Ball Porto Alegrense', 'team_Gwangju FC', 'team_Hertha BSC', 'team_Hokkaido Consadole Sapporo', 'team_Hull City', 'team_Incheon United', 'team_Instituto AC CÃ³rdoba', 'team_Inter Miami CF', 'team_Istanbulspor', 'team_Jeju United', 'team_Jeonbuk Hyundai Motors', 'team_Juventus FC', 'team_Kaizer Chiefs', 'team_Kashima Antlers', 'team_Kashiwa Reysol', 'team_Kasimpasa', 'team_Kawasaki Frontale', 'team_Kayserispor', 'team_Krylya Sovetov Samara', 'team_Kyoto Sanga', 'team_LASK', 'team_LOSC Lille', 'team_Lamontville Golden Arrows', 'team_Lokomotiv Moscow', 'team_Los Angeles FC', 'team_Luton Town', 'team_Mamelodi Sundowns FC', 'team_Manchester United', 'team_Marumo Gallants FC', 'team_Melbourne City FC', 'team_Melbourne Victory', 'team_Middlesbrough FC', 'team_Millwall FC', 'team_Montpellier HSC', 'team_NEC Nijmegen', 'team_Nagoya Grampus', 'team_Nashville SC', 'team_New England Revolution', 'team_Newcastle United Jets', 'team_Nottingham Forest', 'team_Olympique Marseille', 'team_Orlando City SC', 'team_PSV Eindhoven', 'team_Paris Saint-Germain', 'team_Perth Glory', 'team_Philadelphia Union', 'team_Pohang Steelers', 'team_Portland Timbers', 'team_Preston North End', 'team_Puebla FC', 'team_QuerÃ©taro FC', 'team_RC Lens', 'team_RC Strasbourg Alsace', 'team_RCD Espanyol Barcelona', 'team_RKC Waalwijk', 'team_Racing Club', 'team_Rapid Vienna', 'team_Real Betis BalompiÃ©', 'team_Real Salt Lake City', 'team_Red Bull Bragantino', 'team_Red Bull Salzburg', 'team_SC Austria Lustenau', 'team_SC Braga', 'team_SC Cambuur Leeuwarden', 'team_SC Freiburg', 'team_SC Heerenveen', 'team_SCR Altach', 'team_SK Austria Klagenfurt', 'team_SK Sturm Graz', 'team_SL Benfica', 'team_SV Ried', 'team_SV Werder Bremen', 'team_Sagan Tosu', 'team_Sanfrecce Hiroshima', 'team_Santos FC', 'team_Santos Laguna', 'team_Sheffield United', 'team_Shonan Bellmare', 'team_Sivasspor', 'team_Sociedade Esportiva Palmeiras', 'team_Southampton FC', 'team_Spartak Moscow', 'team_Sport Club Corinthians Paulista', 'team_Sport Club Internacional', 'team_Sporting CP', 'team_St. Louis CITY SC', 'team_Stade Reims', 'team_Stade Rennais FC', 'team_Sunderland AFC', 'team_Suwon Samsung Bluewings', 'team_Swansea City', 'team_SÃ£o Paulo Futebol Clube', 'team_TS Galaxy FC', 'team_TSG 1899 Hoffenheim', 'team_TSV Hartberg', 'team_Tigres UANL', 'team_Toronto FC', 'team_Torpedo Moscow', 'team_Trabzonspor', 'team_Twente Enschede FC', 'team_UC Sampdoria', 'team_UD AlmerÃ­a', 'team_US Cremonese', 'team_US Lecce', 'team_US Sassuolo', 'team_Ulsan Hyundai', 'team_Ural Yekaterinburg', 'team_Urawa Red Diamonds', 'team_Vancouver Whitecaps FC', 'team_VfB Stuttgart', 'team_VfL Wolfsburg', 'team_Villarreal CF', 'team_Vissel Kobe', 'team_Vitesse Arnhem', 'team_WSG Tirol', 'team_Watford FC', 'team_West Bromwich Albion', 'team_Western Sydney Wanderers', 'team_Western United FC', 'team_Wolfsberger AC', 'team_Yokohama F. Marinos', 'team_Zenit St. Petersburg', 'team_Ãœmraniyespor']

In [17]:
# Calculate the 35th and 75th percentiles of the current_value
p35 = df['current_value'].quantile(0.35)
p75 = df['current_value'].quantile(0.75)

# Function to categorize current_values
def categorize_current_value(current_value):
    if current_value < p35:
        return 'cv_low'
    elif current_value < p75:
        return 'cv_good'
    else:
        return 'cv_high'

# Apply the function to create a new column
df['players_current_value_category'] = df['current_value'].apply(categorize_current_value)

df.drop('current_value', axis=1, inplace=True)

#Verify the distribution of the new categories
print(df['players_current_value_category'].value_counts())

players_current_value_category
cv_good    147
cv_low     123
cv_high     94
Name: count, dtype: int64

In [18]:
p35 ,p75

(400000.0, 3500000.0)

In [19]:
df['players_current_value_category']

26       cv_high
161      cv_high
184      cv_high
186      cv_high
242      cv_high
          ...
10667     cv_low
10669     cv_low
10720     cv_low
10725     cv_low
10743     cv_low
Name: players_current_value_category, Length: 364, dtype: object

In [20]:
encoder = LabelEncoder()
#pcvc_encoded == players current value category encoded
df['pcvc_encoded'] = encoder.fit_transform(df['players_current_value_category'])

In [21]:
df.drop('players_current_value_category',axis=1,inplace=True)

In [22]:
corrl = df.corr(numeric_only=True)
#print(corrl['current_value'].sort_values(ascending=False))

print(corrl['pcvc_encoded'].sort_values(ascending=False))

pcvc_encoded                   1.000000
team_Jeonbuk Hyundai Motors    0.130844
goals                          0.130619
team_Cerezo Osaka              0.127226
team_Gangwon FC                0.113157
                                 ...
minutes played                -0.202431
appearance                    -0.221586
age                           -0.315197
goals conceded                      NaN
clean sheets                        NaN
Name: pcvc_encoded, Length: 250, dtype: float64

In [23]:
# Set the correlation threshold
threshold = 0.1

# Filter the correlations
# We use `abs()` for absolute value to consider both strong positive and negative correlations
selected_features = corrl[abs(corrl['pcvc_encoded']) > threshold]['pcvc_encoded'].index
selected_features

Index(['age', 'appearance', 'goals', 'yellow cards', 'minutes played',
       'days_injured', 'games_injured', 'award', 'position_encoded',
       'team_Cerezo Osaka', 'team_Gangwon FC', 'team_Jeonbuk Hyundai Motors',
       'team_Kashiwa Reysol', 'team_Melbourne City FC', 'pcvc_encoded'],
      dtype='object')

In [24]:
selected_features = ['age', 'appearance', 'goals', 'yellow cards', 'minutes played',
       'days_injured', 'games_injured', 'award', 'position_encoded',
       'team_Cerezo Osaka', 'team_Gangwon FC', 'team_Jeonbuk Hyundai Motors',
       'team_Kashiwa Reysol', 'team_Melbourne City FC', 'pcvc_encoded']

In [25]:
df = df[selected_features]
df.head()

,age,appearance,goals,yellow cards,minutes played,days_injured,games_injured,award,position_encoded,team_Cerezo Osaka,team_Gangwon FC,team_Jeonbuk Hyundai Motors,team_Kashiwa Reysol,team_Melbourne City FC,pcvc_encoded
26,18.0,72,0.525730,0.225313,3595,50,11,2,4,False,False,False,False,False,1
161,20.0,58,0.542714,0.180905,1990,0,0,0,4,False,False,False,False,False,1
184,18.0,58,0.666477,0.051267,3511,0,0,0,4,False,False,False,False,False,1
186,26.0,71,0.716887,0.225307,4394,96,14,3,4,False,False,False,False,False,1
242,25.0,73,0.625280,0.121022,4462,261,26,3,4,False,False,False,False,False,1

In [26]:
# Prepare data
X = df.drop(['pcvc_encoded'], axis=1)
y = df['pcvc_encoded']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.2,
                                                    shuffle=True,
                                                    random_state=42)

# sacle the data
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [27]:
X.shape

(364, 14)

In [ ]:
model = KNeighborsClassifier()

In [ ]:
param_grid = {
    'n_neighbors': [7, 8, 9, 10, 11]
}
grid_search = GridSearchCV(estimator=model,
                           param_grid=param_grid,
                           cv=5,
                           scoring='f1_macro', 
                           verbose=1)

In [ ]:
# Fit the model on the training data
grid_search.fit(X_train_scaled, y_train)

In [ ]:
grid_search.best_params_

{'C': 1.1, 'gamma': 0.05, 'kernel': 'sigmoid'}

In [ ]:
model = grid_search.best_estimator_

In [ ]:
# Predict and evaluate the model
y_pred = model.predict(X_test_scaled)

In [ ]:
# our benchmark model
base_model = round(df['pcvc_encoded'].value_counts()[1]/df.shape[0]*100, 2)
base_model

25.82

In [ ]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.5616438356164384

In [ ]:
y_pred_train = model.predict(X_train_scaled)
accuracy = accuracy_score(y_train, y_pred_train)
accuracy

0.6082474226804123

In [ ]:
conf_matrix = confusion_matrix(y_test, y_pred)
conf_matrix

array([[13,  7,  9],
       [ 8, 10,  4],
       [ 4,  0, 18]], dtype=int64)

In [ ]:
# Calculate Precision
precision = precision_score(y_test, y_pred, average='macro')
print(f"Precision: {precision:.2f}")

Precision: 0.56

In [ ]:
# Calculate Recall
recall = recall_score(y_test, y_pred, average='macro')
print(f"Recall: {recall:.2f}")

Recall: 0.57

In [ ]:
# Calculate F1 Score
f1 = f1_score(y_test, y_pred, average='macro')
print(f"F1 Score: {f1:.2f}")

F1 Score: 0.56